<div class="container">
	<div class="row">
		<div class="col-12 border search-box">
			<%= form_with(url: public_campsite_search_path, method: :get, local: true) do |f| %>
			<div class="row">
				<div class="col-12">
					<h5>エリア</h5>
					<div>
						<span>○北海道・東北</span><br>
						<% JpPrefecture::Prefecture.all[0..6].each do |prefecture| %>
							<%= f.check_box :search_params, {multiple: true, include_hidden: false}, "#{prefecture.code}",nil %>
							<%= f.label :"#{prefecture.name}" %>
						<% end %>
					</div>
					<div>
						<span>○関東</span><br>
						<% JpPrefecture::Prefecture.all[7..13].each do |prefecture| %>
							<%= f.check_box :search_params, {multiple: true, include_hidden: false}, "#{prefecture.code}",nil %>
							<%= f.label :"#{prefecture.name}" %>
						<% end %>
					</div>
					<div>
						<span>○北陸・東海</span><br>
						<% JpPrefecture::Prefecture.all[14..22].each do |prefecture| %>
							<%= f.check_box :search_params, {multiple: true, include_hidden: false}, "#{prefecture.code}",nil %>
							<%= f.label :"#{prefecture.name}" %>
						<% end %>
					</div>
						<div>
						<span>○近畿</span><br>
						<% JpPrefecture::Prefecture.all[23..29].each do |prefecture| %>
							<%= f.check_box :search_params, {multiple: true, include_hidden: false}, "#{prefecture.code}",nil %>
							<%= f.label :"#{prefecture.name}" %>
						<% end %>
					</div>
					<div>
						<span>○中国・四国</span><br>
						<% JpPrefecture::Prefecture.all[30..38].each do |prefecture| %>
							<%= f.check_box :search_params, {multiple: true, include_hidden: false}, "#{prefecture.code}",nil %>
							<%= f.label :"#{prefecture.name}" %>
						<% end %>
					</div>
					<div>
						<span>○九州・沖縄</span><br>
						<% JpPrefecture::Prefecture.all[39..46].each do |prefecture| %>
							<%= f.check_box :search_params, {multiple: true, include_hidden: false}, "#{prefecture.code}",nil %>
							<%= f.label :"#{prefecture.name}" %>
						<% end %>
					</div>
					<h5>ジャンル</h5>
					<% @genres.each do |genre| %>
						<%= f.check_box :genre_search_params, {multiple: true, include_hidden: false}, "#{genre.id}",nil %>
						<%= f.label :"#{genre.name}" %>
					<% end %>
				</div>
				<%= f.submit "絞り込み", class:"btn btn-success" %>
			<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 mt-2">
			<h3>キャンプ場一覧</h3>
		</div>
	</div>
	<div class="row">
		<% @campsites.each do |campsite| %>
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="card">
				<%= link_to public_campsite_path(campsite.id) do %>
					<%= attachment_image_tag(campsite.campsite_images[0], :image, :fill, 300, 200, format: "jpeg", fallback: "no-image-camera.png", size: "200x200", class:"img-fluid card-img-top") %>
				<% end %>
				<div class="card-body">
					<%= link_to campsite.name, public_campsite_path(campsite) %><br>
					<%= campsite.prefecture.name %><br>
					<% campsite.genres.each do |genre| %>
						<span class="badge badge-secondary"><%= genre.name %></span>
					<% end %><br>
					<span id = "star-rate-<%= campsite.id %>"></span><span>   (<%= campsite.campsite_comments.count %>)</span>
					<script>
					  $('#star-rate-<%= campsite.id %>').raty({
					    size: 36,
					    starOff:  '<%= asset_path('star-off.png') %>',
					    starOn : '<%= asset_path('star-on.png') %>',
					    starHalf: '<%= asset_path('star-half.png') %>',
					    half: true,
					    readOnly: true,
					    score: <%= campsite.review_average %>,
					  })
					</script>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
