<div>
	<h1>キャンプサイトを登録する</h1>
	<%= form_with model: [:admin, @campsite] do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :explanation %>
		<%= f.text_field :explanation %>
	</div>
	<%= f.submit "更新する", class:"btn btn-success" %>
	<% end %>
</div>