<!DOCTYPE html>
<html>
  <head>
    <title>Joycamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item nav-link">会員</li>
              <li><%= link_to "キャンプ一覧", public_campsites_path, class:"nav-item nav-link", 'data-turbolinks':false %></li>
              <li><%= link_to "マイページ", "", class:"nav-item nav-link", 'data-turbolinks':false %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-item nav-link" %></li>
            <% elsif admin_signed_in? %>
              <li class="nav-item nav-link">管理者</li>
              <li><%= link_to "キャンプ一覧", admin_campsites_path, class:"nav-item nav-link", 'data-turbolinks':false %></li>
              <li><%= link_to "マイページ", "", class:"nav-item nav-link", 'data-turbolinks':false %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-item nav-link" %></li>
            <% elsif publisher_signed_in? %>
              <li class="nav-item nav-link">運営</li>
              <li><%= link_to "ホーム", "", class:"nav-item nav-link", 'data-turbolinks':false %></li>
              <li><%= link_to "マイページ", "", class:"nav-item nav-link", 'data-turbolinks':false %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-item nav-link" %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path, class:"nav-item nav-link", 'data-turbolinks':false %></li>
              <li><%= link_to "ログイン", new_user_session_path, class:"nav-item nav-link" %></li>
              <li><%= link_to "about", "", class:"nav-item nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
